.main-container {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container {
  margin: 20px;
  height: 80%;
  background-color: aliceblue;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 8px;
  padding-left: 10px;
  padding-right: 10px;
  
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.line {
  width: 100%;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
}

.search-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 13%;
  background-color: white;
  padding: 2px;
  height: 22px;
  border: none;

}

.search-box {
  border: none;
  outline: none;
  width: 100%;
}

.header-text {
  font-size: 18px;
  font-weight: 500;
  color: grey;
}

@media (max-width:576px) {
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .search-input {
    width: 30%;
  }
}

.cloud {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 200px;
  align-self: center;
}

.degree {
  font-size: 35px;
}

.bottom-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  align-self: center;
}

.left-con {
  height: fit-content;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.line-cloumn {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.para {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.btn {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.dark {
  background-color: grey;
  color: white;
}

.whitetext {
  background-color: black;
}

